
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  
}
.profile-photo {
  width: 300px;   /* kontrolin ang lapad */
  height: auto;   /* para hindi ma-distort */
  border-radius: 50%; /* optional: gawing bilog ang picture */
}
.hero {
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  min-height: 100vh;         /* para sakupin ang buong screen height */
  text-align: center;        /* gitna ang text */
}

.hero-content {
  display: flex;
  flex-direction: column;    /* para stacked (image sa taas, text sa baba) */
  align-items: center;       /* gitna lahat ng laman */
  gap: 20px;                 /* space sa pagitan ng image at text */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #04284d;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar .logo span {
  color: #ddddeb;
}

.nav-links {
    color: white;
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s, border-radius 0.3s;
}

.nav-links a:hover {
  background-color: #504dff;
  border-radius: 4px;
}

.contact-section {
  padding: 60px 20px;
}

.contact-section .container {
  max-width: 700px;
  margin: 0 auto;
}

.contact-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: #1f2933;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 12px;
}

.contact-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form button {
  padding: 12px;
  background-color: #1f2933;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: #4da3ff;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #273885;
  color: white;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .contact-section h2 {
    font-size: 28px;
  }
}